</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$(document).ready(function() {
$('#slider').slick({
  centerPadding: '60px',
  slidesToShow: [% slidesToShow %],
  autoplay: [% autoplay %],
  autoplaySpeed: [% sliderSpeed %],
  arrows: [% arrows %] ,
  prevArrow: '<button type="button" class="slick-arrow slick-prev"></button>',
  nextArrow: '<button type="button" class="slick-arrow slick-next"></button>',
  responsive: [
    {
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        arrows: false,
        slidesToShow: [% slidesToShow %],
      }
    },
    {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1,
      }
    }
  ]
});
});
